@charset "UTF-8";
/* CSS Document */

body {
    background-image: url("../week4-cascademountainrange/images/cascade_mountains-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}